@import "tailwindcss";

:root {
    font-family: 'Nunito', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark: #1B1B1D;
    --white: #EEE5E9;
    --grey: #7C7C7C;
    --light-primary: #92DCE5;
    --primary: #52DEE5;
    --shadow: #0b0b0d;
    --red: #bc1e1e;
}

* {
    color: var(--white);
}

#view {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body {
    background-color: var(--dark);
}

.primary-btn {
    background-color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 10px;
    min-width: 80px;
    min-height: 30px;
    padding: 10px 15px;
    color: var(--primary);
    font-weight: 800;
    font-size: 13pt;
    transition: 0.2s;
}

.primary-btn:hover {
    border: 2px solid var(--light-primary);
    color: var(--light-primary);
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: var(--shadow) 0px 2px 2px;
    text-shadow: var(--shadow) 0px 3px 2px;
}

.secondary-btn {
    background-color: var(--dark);
    border: 2px solid var(--grey);
    border-radius: 10px;
    min-width: 80px;
    min-height: 30px;
    padding: 10px 15px;
    color: var(--grey);
    font-weight: 600;
    font-size: 12pt;
    transition: 0.2s;
}

.secondary-btn:hover {
    border: 2px solid var(--white);
    color: var(--white);
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: var(--shadow) 0px 2px 2px;
    text-shadow: var(--shadow) 0px 3px 2px;
}

.primary-color {
    color: var(--primary) !important;
}

.red-color {
    color: var(--red) !important;
}