.follows-window-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.follows-window {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: var(--dark);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #0b0b0b;
    box-shadow: var(--shadow) 2px 2px 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.follows-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #0b0b0b;
}

.close-follows-btn {
    width: 25px;
    background: transparent;
    border: 0px;
}

.close-follows-btn:hover {
    cursor: pointer;
}

.lside-follows-header {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    flex: 1;
}

.lside-follows-header p {
    color: var(--grey);
    transition: 0.2s;
}

.lside-follows-header p:hover {
    color: var(--white);
    cursor: pointer;
}

.lside-follows-header .mode-active {
    color: var(--white);
}

.follows-list {
    overflow-y: scroll;
    flex: 1;
}