.follow-box {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
}

.follow-box img {
    height: 95%;
}

.follow-box a {
    text-decoration: none;
}